@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');

@theme {
  --font-rubik: 'Rubik', sans-serif;
  --font-inter: 'Inter', system-ui, sans-serif;
}

:root {
  font-family: var(--font-inter);
}


